* {
    box-sizing: border-box;

}
a{
    text-decoration: none;
}
body {
    font-family: 'Roboto', sans-serif;
    background-image: url("patt.png");
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

.row {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}


[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}

.col-1 {
    flex: 0 0 8.33%;
    max-width: 8.33%;
}

.col-2 {
    flex: 0 0 16.66%;
    max-width: 16.66%;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-8 {
    flex: 0 0 66.66%;
    max-width: 66.66%;
}

.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

header {
    height: 100px;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.75);
}

.menu {
    display: flex;
}

.menu .item {
    width: 25%;
    border-left: 1px solid #2c71b8;
}

.menu .item:last-child {
    border-right: 1px solid #2c71b8;
}

.menu .menu-link {
    display: block;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #2c71b8;
    font-size: 21px;
}

.menu-link:hover{
    background-color:#2c71b8; 
    color: white;
}

.sub-menu-link:hover{
    background-color: white;
    color: #2c71b8;
}


.sub-menu {
    display: none;
    position: absolute;
    width: max-content;
    font-size: 21px;
    left: -1px;
}

.item:hover .sub-menu{
    display: block;
    background-color: #2c71b8;
}

.item:hover .menu-link{
    background-color: #2c71b8;
    color: white;
}

.item{
    position: relative;
    text-decoration: none;
}

.sub-menu-link{
    display: block;
    text-decoration: none;
    padding: 15px 44px;
    line-height: 100%;
    color: white;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0px;
}

form {

    display: flex;
    border: 1px solid #2c71b8;
    height: 40px;
}

input {
    border: none;
    background: transparent;
}

.button-search {
    background-color: #2c71b8;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    width: 30px;
    height: 30px;
    margin: 5px;
}

.button-buy {
    background-color: white;
    border: 0;
    width: 40px;
    height: 40px;
}

.buy {
    display: block;
}

.under-header {
    height: 400px;
    width: 100%;
}

input {
    margin: 0;
}

.main{
    display: flex;
    flex-direction: row;
}

.filter-name {
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.checkbox {
    font-size: 21px;
    margin-top: 20px;
    color: white;
}

.filter-item{
    padding: 30px;
}

.color-type {
    margin: 60px 0px;
}

.filter-panel {
    background-color: rgb(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.checkbox input {
    margin-right: 10px;
}

.show-more-options {
    color: white;
    align-self: center;
    font-size: 21px;
    margin: 30px 0px;
}

.submit-button {
    width: 210px;
    height: 50px;
    background-color: #2c71b8;
    border: 1px solid white;
    text-transform: uppercase;
    font-size: 21px;
    color: white;
    align-self: center;
    margin-bottom: 30px;
}

.products-block{
    display: flex;

}

.list-products{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.card-product{
    width: calc(33.33% - 20px);
    border: 1px solid white;
    margin-bottom: 30px;
}

.bg-photo-product{
    background-color: rgb(255, 255, 255, 0.7);
    display: flex;
    height: 180px;
    justify-content: center;
    align-items: center;
}

.product-main-info{
    margin: 15px 15px 15px 15px;
}
.device-name{
    font-size: 30px;
    font-weight: bold;
    color: white;

}

.description-device{
    color:white;
    font-size: 21px;
    margin: 15px 0;
}

.option-name{
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.option{
    color: white;
    font-size: 21px;
}

.option-block{
    margin: 15px 0px;
}

.price{
    font-size: 48px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.details, .card-add{
    width: 210px;
    height: 50px;
    color: white;
    border: 1px solid white;
    font-size: 21px;
    text-transform: uppercase;

}

.details{
    background-color: transparent;
    margin-bottom: 15px;
}

.card-add{
    background-color: rgb(255, 255, 255, 0.5);
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.breadcuts{
    color: white;
    margin-top: 30px;
}

.item-breadcuts{
    color: rgb(255, 255, 255, 0.5);
}

.page-name{
    font-size: 48px;
    font-weight: bold;
    color: white;
    margin-bottom: 50px;
    margin-top: 30px;
}

.sorting{
    margin-bottom: 50px;
    margin-top: 30px;
    border: 1px solid white;
    height: 40px;
    font-size: 21px;
    display: flex;
    align-items: center;
    
}

.item-breadcuts:last-child{
text-decoration: underline;
}

sup{
    font-size: 30px;
}

.sort-sub-menu{
    width: 270px;
    position: absolute;
    top: 39px;
    border: 1px solid white;
    display: none;
}
.sub-sorting{
    height: 40px;
    color: white;
    font-size: 21px;
    display: block;
}

.sort-menu{
    position: relative;
}

.sort-link{
    display: block;
    width:100%; 
    height:100%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    background-color: #2c71b8;
    color: white;
}

.sort-link:hover{
    background-color: white;
    color: #2c71b8;
}

.sort-menu:hover .sort-sub-menu{
display: block;
}
